window-rule {
    opacity 0.9
    match app-id="^Alacritty$"
    match app-id="zen-beta"
    match app-id="ghostty"
    match app-id="^vesktop$"
    match app-id="^thunar$"
    match app-id="^discord$"
    match app-id="^vesktop$"
    match app-id="^obsidian$"
    match app-id="^spotify$"
    match app-id="^readest$"

    background-effect {
        blur true
        xray false
    }
}

window-rule {
    opacity 0.8
      match app-id="^ferdium$"

    background-effect {
        blur true
        xray false
    }
}
